<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Unit">
      <directory>test/Unit</directory>
    </testsuite>
    <testsuite name="Integration">
      <file>test/Integration/functional_examples.php</file>
      <file>test/Integration/OopExamples.php</file>
    </testsuite>
  </testsuites>
</phpunit>
